#algorithm * {
    display: inline;
}

#algorithm span {
    background-color: yellow;
}

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
table, thead, tr, tbody, th, td {
    text-align: center;
}

.table td {
    text-align: center;
    border: 1px solid black;
}

table td.selected {
    background-color: cornflowerblue;
}

table td.selected-red {
    background-color: crimson;
}

table {
    table-layout: inherit;
    word-wrap: break-word;
    width: 100%;
}

table th, table td {
    overflow: auto;
}

.p-5{
    padding: 3%;
}

.float-right {
    float: right;
}

@media screen and (min-width: 1250px) {
    .container {
        padding: 1vh 5%;
    }
    .col {
        float: left;
        width: 50%;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}